input[type="text"] {
    color: red;
}

input[type="radio"]:after {
    background-color: yellowgreen;
}

input[type="radio"]:checked:after {
    background-color: red;
}

input[type="submit"]:hover {
    background-color: green;
}

input[type="reset"]:hover {
    color: yellow;
}

label {
    border-bottom: solid 2px hotpink;
    color: blueviolet;
}

#cities {
    border-radius: 15px;
    background-color: orange;
    font: Arial white;
}

input[placeholder="FirstName LastName"] {
    color: blue;
}

input[placeholder="EMAIL_ADDRESS"] {
    color: red;
}

input[placeholder="m/d/y"] {
    background-color: rgb(0, 183, 255);
}

#tourPackage {
    border-radius: 25px;
    background-color: rebeccapurple;
}
