input[type=text] {
    color: red;
}
#lastname{
    border:dotted 10px green
}
input[type=radio] {
    background-color: cyan;
}

input[type=submit]:hover {
    background-color: green;
}

input[type=reset]:hover {
    color: yellow;
}

label {
    border-bottom: solid 2px hotpink;
}

#cities {
    border-radius: 15px;
    background-color: orange;
    font: Arial white;
}
