li:nth-child(2n) {
    color: green;
}

li:nth-child(3) {
    background-color: aqua;
}

li:first-child {
    border-top: solid 1px green;
}

li:last-child {
    border-bottom: dotted 5px blue;
}

li:nth-child(5) a {
    color: red;
}

li:nth-child(3) a {
    color: red;
}

li:nth-child(5) a:hover {
    color: grey;
}

li:nth-child(5) {
    list-style-type: none;
}

li:nth-child(2) {
    list-style-type: none;
}

input[type=text]:focus {
    background-color: grey;
}

input[placeholder="first name"] {
    color: limegreen;
}

input[placeholder="last name"] {
    color: blue;
}

input[type=password] {
    color: transparent;
}

/*input[type=email]{

}*/

input[type=submit]:hover{
    background-color:red;
}